body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(23, 29, 48);
    color: #3498db;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #3498db;
    margin-bottom: 20px;
}

.perf-view-frame {
    background-color: rgb(23, 29, 48);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    overflow-x: auto;
    max-width: 100vw;
    margin: 0 auto;
}

.table-header {
    border-bottom: 2px solid #eee;
    font-weight: 600;
    color: #555;
}

.table-row {
    display: grid;
    grid-template-columns: 20% 13.333% 13.333% 13.333% 13.333% 13.333% 13.333%;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.table-row:nth-child(odd) {
    background-color: rgb(20, 30, 59);
}

.table-row:nth-child(even) {
    background-color: rgb(27, 35, 59);
}

.table-row:nth-child(even):hover {
    background-color: #082d52;
}

.table-row:nth-child(odd):hover {
    background-color: #0a325f;
}

.table-row:last-child {
    border-bottom: none;
}

/* Common styles for both desktop and mobile */
.table-header > span, .table-row > span {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profit-positive {
    color: #28a745;
}

.profit-negative {
    color: #dc3545;
}

/* Desktop/Mobile visibility */
.mobile-only {
    display: none;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .desktop-only {
        display: none;
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: rgb(23, 29, 48);
        color: #3498db;
        margin: 0;
        padding: 0;
    }

    h1.mobile-only {
        color: #3498db;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 30px;
    }

    .perf-view-frame {
        background-color: rgb(23, 29, 48);
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        padding: 10px;
        overflow-x: auto;
        max-width: 100vw;
        margin: 0 auto;
    }


    .mobile-only {
        display: block;
        font-size: 14px;
    }

    .mobile-table-header {
        border-bottom: 2px solid #eee;
        font-weight: 600;
        color: #555;
    }

    .mobile-table-row {
        display: grid;
        grid-template-columns: 30% 30% 25% 15%;
        padding: 10px 0;
        border-bottom: 1px solid #eee;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.1s ease;
    }

    .mobile-table-row:nth-child(odd) {
        background-color: rgb(20, 30, 59);
    }

    .mobile-table-row:nth-child(even) {
        background-color: rgb(27, 35, 59);
    }

    .mobile-table-row:nth-child(even):hover {
        background-color: #082d52;
    }

    .mobile-table-row:nth-child(odd):hover {
        background-color: #0a325f;
    }

    .mobile-table-row:last-child {
        border-bottom: none;
    }

    /* Common styles for both desktop and mobile */
    .mobile-table-header > span, .mobile-table-row > span {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .detail-link {
        text-align: center;
        color: #3498db;
        cursor: pointer;
    }

    .detail-link i {
        font-size: 16px;
    }
}