<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overall Performance Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <h1>Overall Performance Dashboard</h1>

    <div class="perf-view-frame">
        <div class="table-header table-row">
            <span>User (ID)</span>
            <span>Cash Balance</span>
            <span>Total Injection</span>
            <span>Current Value</span>
            <span>Total Asset</span>
            <span>Profit ($)</span>
            <span>Profit (%)</span>
        </div>

        {% for user_perf in users_performance %}
        <div class="table-row" onclick="window.location.href='/user/{{ user_perf.user_id }}'">
            <span>{{ user_perf.name }} ({{ user_perf.user_id }})</span>
            <span>{{ user_perf.cash_balance }}</span>
            <span>{{ user_perf.total_investment_value }}</span>
            <span>{{ user_perf.total_current_value }}</span>
            <span>{{ user_perf.total_asset_value }}</span>
            <span>{{ user_perf.total_profit_in_cash }}</span>
            <span {% if user_perf.total_profit_in_percentage > 0 %}class="profit-positive"{% elif user_perf.total_profit_in_percentage < 0 %}class="profit-negative"{% endif %}>
                {% if user_perf.total_investment_value and user_perf.total_investment_value != 0 %}
                    {{ "{:.2f}%".format(user_perf.total_profit_in_percentage) }}
                {% else %}
                    N/A
                {% endif %}
            </span>
        </div>
        {% endfor %}
    </div>
</body>
</html>